.footer{
    margin: auto;
    background-color: #dddddd;
    text-align: center;
}

.footer *{
    text-decoration: none;
    font-size: 2em;
    width: 100%;

    display: inline-flex;
    flex-wrap: nowrap;
}

.footer a{
    margin-right: 0.2em;
}

.nav-links{
    float: right;
    font-size: 1.1em;

    display: inline;
}

.nav-links a{
    color: green;
    padding-right: 1em;
}

.inner-div{
    max-width: 111em;
}

nav{
    margin-right: 3em;
    margin-top: 2em;
}

body{
    width: 100%;
    margin: auto;
    
    padding: 0;
    margin-left: 0;
    font-size: 1.1em;
    font-family: sans-serif;
    line-height: 1.6;
}

body *{
    box-sizing: border-box;
    margin: auto;
}

div{
    padding: 1em;
    padding-left: 7%;
    padding-right: 7%;

    width: 100%;
    margin: auto;
    display: block;
}

div.footer-links{
    display: inline-flex;
    width: 15em;
    margin: auto;
}

.yellow{
    background-color: #F9FD85;
}

.light-pink{
    background-color: #FFCFC0;
}

.light-orange{
    background-color: #FFE09B;
}

.light-blue{
    background-color: #B2FFFD;
}

.light-green{
    background-color: #B0FFB8;
}

.blue{
    background-color: #6EC1E4;
}